block header
  header.ly-header
    h1.lg-logo-container
      a.lg-logo(href='/') NodeConf
    div.ly-header-location Buenos Aires, Argentina
    //- h2 17&ndash;19 November, 2016
block navigation
  nav.ly-navigation-container
    ul.ly-navigation
      li.ly-navigation-item
        a.lk-link(href='/news') News
      li.ly-navigation-item
        a.lk-link(href='/#speakers') Speakers
      li.ly-navigation-item
        a.lk-link(href='/#venue') Venue
      li.ly-navigation-item
        a.lk-link(href='/sponsors.html') Sponsors
      li.ly-navigation-item
        a.lk-link(href='/code-of-conduct.html') Code of Conduct
