img {
  display: block;
  width: 100%;
}
.ly-main {
  max-width: 100%;
}
.ss-introduction {
  margin: 80px auto;
  max-width: 900px;
}
.ss-teaser {
  text-transform: none;
  background: #c00;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.2);
}
.ss-footer-image {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ss-footer {
  margin-top: 20px;
  padding-bottom: 0;
  text-align: center;
}
.ss-section {
  margin-top: 40px;
}
.ss-bye {
  text-transform: none;
}
.ss-content,
.ss-aside {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}
.ss-sponsors img {
  vertical-align: top;
  display: inline-block;
  width: 25%;
  padding: 10px;
}
.ss-content {
  padding: 0 20px 20px;
}
.ss-content-tight {
  padding: 0 10px 10px;
}
.ss-content h2,
.ss-content-title {
  padding: 10px 10px 10px 30px;
  margin-top: 0;
  border: 5px solid #c00;
}
.ss-content-title {
  margin: 10px 0;
}
.ss-content-title-centered {
  text-align: center;
}
.ss-content-location {
  margin: 30px 0;
}
.ss-cck-container {
  margin-left: -20px;
}
.ss-cck {
  margin-left: 10px;
  margin-bottom: 10px;
}
.ss-cck:last-child {
  margin-bottom: 0;
}
.ss-profile {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  padding: 40px;
}
.pf-picture {
  display: block;
}
.ss-twitter-handle {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
.ss-twitter-handle .lk-link {
  display: inline-block;
  margin-top: 5px;
}
.ss-aside img,
.ss-content-aside img {
  padding-bottom: 10px;
}
.ss-aside img:last-child,
.ss-content-aside img:last-child {
  padding-bottom: 0;
}
.ss-san-telmo {
  height: 245px;
}
.ss-placement li,
.ss-level li {
  list-style-type: none;
}
.ss-placement li:before,
.ss-level li:before {
  content: '\25cf';
  padding: 2px 6px;
  font-size: 16px;
}
.ss-objective,
.ss-placement li:before,
.ss-level li:before {
  background-color: #c00;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  color: #fff3f3;
}
.ss-objective {
  padding: 2px 10px;
  font-size: 32px;
}
.ss-level h2,
.ss-thanks h2 {
  background-color: #c00;
  color: #fff3f3;
}
.ss-cta {
  border-top: 5px solid #c00;
  margin-top: 40px;
  padding-top: 40px;
}
.ss-level-cost {
  float: right;
  margin-top: -5px;
  margin-right: -5px;
  padding: 5px 10px;
  background-color: #fff3f3;
  color: #333;
}
.ss-across {
  margin-top: 10px;
}
