input,
textarea
  display block
  width 100%
  padding 10px 8px
  border 2px solid c-light-pink
  color c-white

  &:focus
    outline none
    border-color c-red

textarea
  resize vertical
  min-height 280px
  max-height 900px
