extends layouts/layout.jade
block vars
  - meta_title = 'Code of Conduct \u2014 NodeConf Argentina'

block main
  h2 Code of Conduct
  article.md-markdown.md-copy.coc-container
    :megamark
      All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.

      _tl;dr: Don't be a jerk_

      ### Need Help?

      Nicolás Bevacqua +54 9 11-6052-1563 <[nicolasbevacqua@gmail.com][email]>

      ### The Quick Version

      Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.

      ### The Less Quick Version

      Harassment includes, but is not limited to, offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

      Participants asked to stop any harassing behavior are expected to comply immediately.

      Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.

      If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.

      If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they'll be wearing branded t-shirts.

      Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.

      We expect participants to follow these rules at conference and workshop venues and conference-related social events.

      Original source and credit: [JSConf US][jsconf] & [The Ada Initiative][ada]

      Please help by translating or improving [on GitHub][repo].

      This work is licensed under a [Creative Commons Attribution 3.0 Unported License][cc]

      [email]: mailto:nicolasbevacqua@gmail.com
      [jsconf]: http://2012.jsconf.us/#/about
      [ada]: http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy
      [repo]: http://github.com/leftlogic/confcodeofconduct.com
      [cc]: http://creativecommons.org/licenses/by/3.0/deed.en_US
