extends layouts/layout.jade
block main
  h2#speakers Speakers
  article.md-markdown
    :megamark
      TBA
  h2#news News
  include partials/news-index.jade
  h2#venue Venue
  article.md-markdown
    :megamark
      Ciudad Cultural Konex

  include partials/mailchimp.jade
