include partials/banner.jade
doctype html
html(lang='en')
  head
    include partials/meta.jade
    include partials/styles.jade

  body
    include partials/header.jade
    main.ly-main
      p Foo
    include partials/footer.jade
    include partials/scripts.jade
