extends layouts/layout.jade
block vars
  - meta_title = 'You are offline \u2014 NodeConf Argentina'

block main
  | You are offline. Please find a reliable network connection and try again later. We're so sorry to let you down!
