include partials/banner.jade
doctype html
html(lang='en')
  head
    include partials/meta.jade
    include partials/styles.jade

  body
    include partials/header.jade
    main.ly-main You are offline. Please find a reliable network connection and try again. We're so sorry to let you down!
    include partials/footer.jade
    include partials/scripts.jade
