body
  word-wrap break-word
  overflow-x hidden
  overflow-y scroll
  margin 0 auto
  text-align center
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.ly-main
  margin 80px
  padding 20px
  text-align left
