body
  word-wrap break-word
  overflow-x hidden
  overflow-y scroll
  margin 0 auto
  text-align center
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.ly-main
  text-align left
  margin 0 auto
  max-width 900px
  font-size 20px

@media only screen and (min-width: 950px)
  .ly-main
    margin 40px auto 80px
