@font-face {
  font-family: 'andale_monoregular';
  src: url('../fonts/andale_mono-webfont.eot');
  src: url('../fonts/andale_mono-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/andale_mono-webfont.woff2') format('woff2'),
  url('../fonts/andale_mono-webfont.woff') format('woff'),
  url('../fonts/andale_mono-webfont.ttf') format('truetype'),
  url('../fonts/andale_mono-webfont.svg#andale_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon.eot?9azvlz');
  src:    url('../fonts/icomoon.eot?9azvlz#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?9azvlz') format('truetype'),
  url('../fonts/icomoon.woff?9azvlz') format('woff'),
  url('../fonts/icomoon.svg?9azvlz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-burger:before {
  content : "\e900";
}
.icon-close:before {
  content : "\e901";
}
.icon-cruz:before {
  content : "\e902";
}
.icon-dots:before {
  content : "\e903";
}
.icon-moon:before {
  content : "\e904";
}
.icon-ir:before {
  content : "\e905";
}
.icon-github:before {
  content : "\e906";
}
.icon-linkedin:before {
  content : "\e907";
}
.icon-twitter:before {
  content : "\e908";
}
.icon-facebook:before {
  content : "\e909";
}

#home {
  background : #f1f1f1;
}
#home .container {
  position : relative;
}
#home h3 {
  font-size : 9vw;
  padding-top : 100px;
  margin-left : -5px;
  margin-bottom : 0;
}
#conduct h3 {
  font-size : 45px;
  line-height : 50px;
  margin-top : 50px;
  color : #bbdc2f;
}
.session {
  padding-top : 20px;
  font-size : 12px;
  text-transform : uppercase;
  float : left;
}
.icon-dots, .icon-moon {
  font-size : 50px;
  color : #d9d9d9;
  position : absolute;
}
.icon-cruz {
  font-size : 45px;
  color : #bbdc2f;
  position : absolute;
}
.uno {
  top : 140px;
  left : 15px;
}
.dos {
  top : 50px;
  right : 15px;
}
.tres {
  top : 330px;
  right : 15px;
}
.cuatro {
  top : 50px;
  left : 150px;
}
.cinco {
  top : 65px;
  left : 170px;
  z-index : 1;
}
.back-home {
  background : url(../../images/back-home.svg);
  width : 35px;
  height : 40px;
  display : block;
  float : right;
  margin-top : 50px;
  transform: translateZ(0);
}
.back-home .tooltip, .back-home .tooltip:before {
  display : block;
  position : absolute;
  font-family : 'Abel', sans-serif;
  text-align : center;
  font-size : 16px;
  text-transform : uppercase;
}
.back-home .tooltip:after, .back-home .tooltip:before {
  content : " ";
  position : absolute;
}
.back-home .tooltip {
  background : #f8cf1c;
  bottom : 0;
  color : #1A2024;
  right : 50px;
  opacity : 0;
  padding : 10px 20px;
  transform : translateX(10px);
  transition : all 0.25s ease-out;
}
.back-home .tooltip:before {
  bottom : -20px;
  height : 20px;
  left : 0;
}
.back-home .tooltip:after {
  border-top : 10px solid transparent;
  border-bottom : 10px solid transparent;
  border-left : 10px solid #f8cf1c;
  bottom : 10px;
  height : 0;
  left : 50%;
  margin-left : 35px;
  width : 0;
}
.back-home:hover .tooltip {
  opacity : 1;
  transform : translateX(0);
}
.lte8 .back-home .tooltip {
  display : none;
}
.lte8 .back-home:hover .tooltip {
  display : block;
}
.menu_bar {
  display : none;
}
header {
  position: fixed;
  right: 50px;
  top:70%;
  z-index: 100;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: translateX(0) rotate(90deg);
  transform: translateX(0) rotate(90deg);
}

header nav {
  text-transform : uppercase;
  font-size : 16px;
}
header nav ul {
  padding : 0;
}
header nav ul li a, header nav ul li a:focus {
  height : 40px;
  line-height : 40px;
  padding : 0 12px;
  display : block;
  color : #495056;
}
header nav ul li a:hover, header nav ul li a.active, header nav ul li:last-child a:focus {
  background-color : #bbdc2f;
  color : #1A2024;
}
header nav ul li {
  display : inline-block;
}
@media only screen and (max-width:959px) {
  header nav {
    height : 100vh;
    width : 100%;
    right : -100%;
    position : fixed;
    z-index : 100;
    margin : 0 !important ;
    background-color : #f1f1f1;
  }
  header {
    transform-origin: bottom right;
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    width : 250px;
    top : 0;
    right : 0;
  }
  header nav ul {
    padding : 60px 0;
    background-color : #f1f1f1;
  }
  header nav ul li {
    display : block;
    line-height : 40px;
    height : 40px;
    text-align : left;
  }
  header nav ul li a {
    line-height : 40px;
    display : block;
    padding-left : 30px;
  }
  header nav ul li a:hover, header nav ul li a.active {
    display : block;
  }
  .menu_bar {
    display : block !important ;
    width : 40px;
    float : right;
    margin-right : 30px;
    position : absolute;
    z-index : 999;
    right : 0;
  }
  .menu_bar .bt-menu {
    line-height : 60px;
    height : 60px;
    padding : 0 10px;
    color : #495056;
    display : block;
  }
  .bt-menu:before {
    font-family : 'icomoon';
    content : '\e900';
    font-size : 15px;
  }
  .bt-menu.active:before {
    font-family : 'icomoon';
    content : "\e901";
    font-size : 15px;
  }
}
.mc-form {
  width : 400px;
  margin-top : 50px;
  margin-bottom : 250px;
  line-height : 30px;
}
.mc-submit {
  border : #1A2024 solid 1px;
  color : #fff;
  background-color : #1A2024;
  border-top-right-radius : 32px;
  border-bottom-right-radius : 32px;
  text-align : center;
  padding : 0 5px 1px 20px;
  width : 130px;
  text-transform : uppercase;
  font-size : 16px;
  float : left;
}
.mc-submit:hover:after {
  margin-left : 10px;
  color : #fff;
}
.mc-submit:hover {
  padding : 0 10px 1px 15px;
}
.mc-protection {
  visibility : hidden;
  width : 0;
  float : left;
}
.mc-input {
  float : left;
  font-size : 16px;
  padding-left : 15px;
  background-color : transparent;
  border : #1A2024 solid 1px;
  color : #1A2024;
  width : calc(100% - 135px);
  border-top-left-radius : 32px;
  border-bottom-left-radius : 32px;
}
.smallscreen {
  display : none;
  padding : 50px 0;
  margin : 0 auto;
  width : 198px;
}
.content {
  background-size : 384px;
  background-attachment : fixed;
  background-repeat : no-repeat;
  clear : both;
}
.iso_black {
  background-color : #f1f1f1;
  background-image : url("../../images/logo-w.svg");
  background-position : 82% 100px;
}
.iso_color {
  background-color : #1A2024;
  background-image : url("../../images/logo.svg");
  background-position : 82% 100px;
}
.logo-code {
  margin : 50px auto;
  width : 198px;
  height : 228px;
  display : block;
}
.logo-code:hover {
  filter : grayscale(100%);
  filter : url(#greyscale);
  filter : ;
  filter : url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.code-conduct, .call-for-speakers {
  background-color : #fff;
  color : #1A2024;
  margin : 50px 0;
}
.code-conduct {
  padding : 30px 40px 50px 20px;
}
.code-conduct span, .code-conduct ul {
  float : left;
}
.code-conduct span {
  width : 40px;
  text-transform : uppercase;
  text-align : center;
}
.code-conduct ul {
  padding-bottom : 20px;
  border-left : 1px solid #1A2024;
  padding-left : 28px;
  margin-left : 39px;
  margin-top : -22px;
  margin-bottom : 0;
}
.code-conduct em {
  font-size : 21px;
  line-height : 40px;
}
.code-conduct h1 {
  text-align : center;
  margin : 20px 0 50px;
  border-bottom : none;
}
.code-conduct h4 {
  margin-top : 0;
}
.code-conduct p, .session p {
  margin-bottom : 0;
}
.menu-call {
  padding-top : 50px;
}
.menu-call a {
  display : block;
  padding-bottom : 10px;
  text-transform : uppercase;
  color : #f1f1f1;
}
.menu-call a:hover, .menu-call a.active {
  color : #bbdc2f;
}
.call-for-speakers {
  padding : 30px 50px;
}
.call-for-speakers li {
  column-count : 2;
  column-gap : 25px;
  text-align : justify;
  margin-bottom : 15px;
}
.call-for-speakers ul, .form-cfp {
  margin-bottom : 40px;
}
.call-for-speakers a {
  display : inline-block;
  color : #666;
  padding-bottom : 0;
  text-decoration : underline;
}
.call-for-speakers strong {
  color : #a5ba39;
}
.call-for-speakers p {
  margin-bottom : 5px;
}
.call-for-speakers h4 {
  border-bottom : 1px solid #1a2024;
  padding-bottom : 10px;
  margin-bottom : 20px;
}
.call-speak:after, .back-home:after {
  clear : both;
  display : table;
  content : " ";
}
.call-speak {
  width : 100%;
  clear : both;
  overflow-x : hidden;
}
.bullet {
  margin-left : 10px;
}
.bullet:before {
  content : "\25CF";
  display : inline-block;
  margin-right : 10px;
  color : #a5ba39;
}
#speakers .col-md-3, #tickets .col-md-3 {
  text-align : center;
  font-size : 24px;
  margin-bottom : 40px;
}
#speakers .col-md-3 a, #tickets .col-md-3 p {
  color : #BADE09;
}
#speakers .col-md-3 a:hover {
  color : #FED007;
}
.hexagon.soon {
  background-color : #14181b;
}
.hexagon.now {
  cursor : pointer;
}
.hexagon.sold-out {
  background-color: #262d31;
}
#speakers .hexagon.now:hover:after, #speakers .col-md-3 a:hover .hexagon.now:after {
  opacity : 1;
}
#speakers .hexagon.now:after, #speakers .col-md-3 a .hexagon.now:after {
  content : url(../../images/see-more.svg);
  opacity : 0;
  text-align : right;
  width : 100%;
  height : 100%;
  display : block;
  position : absolute;
  bottom : -92px;
  right : 14px;
  color : #f1f1f1;
  transition : all 0.5s ease;
}
.hexagon {position:relative; margin:100px auto 70px; width:190px; height:110px; background-position:center center; background-size: 220px; z-index:1; line-height:110px; text-align:center; font-size:20px; letter-spacing:2px; color:#BADE09; text-transform: uppercase}
.hexagon .hexa-out, .hexagon .hexa-in {position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden; background:inherit; z-index:-1; backface-visibility:hidden}
.hexagon .hexa-out:before, .hexagon .hexa-in:before{content:'';position:absolute; width:220px; height:220px; background:inherit}
.hexagon .hexa-out {transform:rotate(60deg)}
.hexagon .hexa-out:before {left:0; transform-origin:left top; transform:rotate(-60deg) translate(-110px,0)}
.hexagon .hexa-in {transform:rotate(-60deg)}
.hexagon .hexa-in:before {right:0;transform-origin:right top;transform:rotate(60deg) translate(110px,0)}
.call-to-action {
  background-color : #BADE09;
  width : 100%;
  color : #1A2024;
  text-align : center;
  padding : 50px 0 80px;
}
.call-to-action a {
  color : #1A2024;
}
.call-to-action a.btn-action, .call-to-action a.btn-action:hover  {
  background-color : #F1F1F1;
  width: 240px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
#profile-speaker {
  background-color : #f1f1f1;
}
#profile-speaker .bottom {
  height : 100px;
  border-width : 0 100vw 650px 0;
  border-style : solid;
  border-color : transparent transparent #1A2024 #f1f1f1;
}
.profile-s {
  margin : 70px auto 0;
  width : 80%;
  color : #1A2024;
  position : relative;
}
.profile-s .profile-text {
  position : absolute;
  right : 0;
  width : 100%;
}
.profile-s h2 {
  font-size : 56px;
  line-height : 56px;
  margin-bottom : 0;
}
.profile-text a {
  font-size : 35px;
}
.profile-text p {
  margin-top : 40px;
}
.profile-text strong, .profile-text em {color: #666;}
.profile-s a:hover {
  color : #FED007;
}
.profile-s p, a.in-prof, .plain-header p {
  font-size : 18px;
  margin-bottom : 0;
}
.profile-img {
  border-radius : 300px;
  width : 300px;
  height : 300px;
  overflow : hidden;
  z-index : 2;
  position : absolute;
}
.profile-img img {
  width : 300px;
}
.profile-img-trama {
  background : url(../../images/speak-b.svg) no-repeat;
  position : absolute;
  display : block;
  width : 384px;
  height : 274px;
  left : -30px;
  z-index : 1;
}
#conduct .container {
  position : relative;
}
#tickets .hexagon.now {
  background-color : #FED007;
}
#tickets .hexagon.now:hover .icon-buy  { fill: #ac9108; -webkit-transition: all .3s ease;}
.icon-buy { fill: #1A2024;}
.icon-soldout { fill: #ac9108;}
.icon-buy, .icon-soldout {
  width : 120px;
  height : 145px;
  margin-top : -20px;
}
#about .title-section, #sponsor .title-section {
  text-transform : uppercase;
  color : #fff;
  font-size : 16px;
  letter-spacing : 1px;
  padding : 10px 0;
  position : absolute;
  margin-top : 50px;
}
.title-section {
  margin-bottom : 30px;
}
.title-section span {
  padding : 5px;
  background-color : #fff;
  color : #1A2024;
  margin-right : 6px;
}
.dark-theme {
  background : #1A2024;
  color : #fff;
}
#about .col-md-6 {
  padding-bottom : 50px;
}
p {
  margin-bottom : 15px;
}
h1 {
  padding-bottom : 20px;
  border-bottom : 1px solid #000;
  margin-bottom : 30px;
}
.conference h1 {
  padding-top : 120px;
}
.conference {
  margin-bottom : 120px;
}
.organ .social {
  float : right;
}
.social {
  margin : 10px 0;
}
.social a {
  padding-right : 15px;
  color : #bbdc2f;
  font-size : 16px;
}
.social a:hover {
  color : #f8cf1c;
}
.org h1, #venue h1 {
  margin-top : 80px;
}
.organ {
  font-size : 14px;
  padding : 30px 0;
  border-bottom : 1px solid #000;
  margin : 50px 0;
}
.organ h4 {
  margin-bottom : 30px;
  float : left;
}
h4 {
  text-transform : uppercase;
}
#map {
  width : 100%;
  height : 400px;
  display : block;
  margin-top : 50px;
}
#venue .owl-carousel {
  margin-top : 80px;
}
#sponsor h2 {
  text-transform : uppercase;
  text-align : center;
  margin-top : 100px;
}
#sponsor p {
  text-align : center;
  color : #fff;
  font-size : 20px;
  letter-spacing : 1px;
}
a.btn-action {
  margin : 30px auto 0;
  text-align : center;
  border-radius : 50px;
  padding : 10px 10px 10px 20px;
  text-transform : uppercase;
  font-size : 17px;
  width : 190px;
  display : block;
}
#sponsor a.btn-action {
  background-color : #bbdc2f;
}
#sponsor a.btn-action:hover {
  background-color : #f8cf1c;
}
#sponsor .container {padding-top: 100px;}
.tier.t-uno {margin: 70px auto 0px; padding-top: 30px; border-top: 1px solid #000;}
.tier {margin: 0 auto; text-align: center; display: block;}
.tier li {display: inline-block; background-color: #14181b; margin:10px; }
.tier li a{opacity: 1; -webkit-transition: all .3s ease;}
.tier li a:hover {opacity: .5}
.tier.t-diez li, .tier.t-diez li img {width: 355px; height: 156px; vertical-align: top;}
.tier.t-cinco li, .tier.t-cinco li img {width: 291px; height: 110px; vertical-align: top;}
.tier.t-dos li, .tier.t-dos li img {width: 212px; height: 83px; vertical-align: top;}
.tier.t-uno li, .tier.t-uno li img {width: auto; height: 50px; vertical-align: top; background-color: transparent;}
.tier.t-uno h3 {margin-top: 15px;  text-transform: uppercase; }
a.btn-action:after, .mc-submit:after {
  content : "\e905";
  font-family : 'icomoon';
  color : transparent;
  font-size : 11px;
  margin-left : 0;
  display : inline-block;
  transition : all 0.2s;
}
a.btn-action:hover:after {
  margin-left : 10px;
  color : #1A2024;
}
.btn-action form {
  margin-left : auto;
  margin-right : auto;
}
#bodymovin {
  height : 100%;
  width : 100%;
  padding-top : 175px;
  overflow : hidden;
}
#animated-speaker #bodymovin {
  padding-top : 0;
}
#wrapper {
  min-height : 100vh;
  height : auto;
  margin : 0 auto -35px;
  padding : 0 0 35px;
}
footer {
  height : 35px;
  line-height : 35px;
  background-color : #bbdc2f;
  font-size : 13px;
  padding : 0 5px;
  position : absolute;
  width : 100%;
  margin-top : -7px;
}
footer a {
  text-transform : uppercase;
  padding-left : 10px;
}
@media only screen and (max-width:959px) {
  footer {
    font-size : 12px;
  }
}

.glitch-txt {
  position : relative;
}
@keyframes noise-anim {
  0% {
    clip : rect(19px,9999px,30px,0);
  }
  5% {
    clip : rect(44px,9999px,30px,0);
  }
  10% {
    clip : rect(8px,9999px,24px,0);
  }
  15% {
    clip : rect(61px,9999px,91px,0);
  }
  20% {
    clip : rect(18px,9999px,39px,0);
  }
  25% {
    clip : rect(81px,9999px,100px,0);
  }
  30% {
    clip : rect(92px,9999px,23px,0);
  }
  35% {
    clip : rect(6px,9999px,62px,0);
  }
  40% {
    clip : rect(9px,9999px,75px,0);
  }
  45% {
    clip : rect(16px,9999px,38px,0);
  }
  50% {
    clip : rect(52px,9999px,92px,0);
  }
  55% {
    clip : rect(64px,9999px,38px,0);
  }
  60% {
    clip : rect(79px,9999px,68px,0);
  }
  65% {
    clip : rect(80px,9999px,67px,0);
  }
  70% {
    clip : rect(42px,9999px,63px,0);
  }
  75% {
    clip : rect(77px,9999px,79px,0);
  }
  80% {
    clip : rect(91px,9999px,48px,0);
  }
  85% {
    clip : rect(65px,9999px,54px,0);
  }
  90% {
    clip : rect(85px,9999px,17px,0);
  }
  95% {
    clip : rect(33px,9999px,81px,0);
  }
  100% {
    clip : rect(36px,9999px,22px,0);
  }
}
.glitch:after, .glitch-txt:after {
  content : attr(data-text);
  position : absolute;
  text-shadow : -1px 0 #f1f1f1;
  left : 1px;
  overflow : hidden;
  clip : rect(0,900px,0,0);
  animation : noise-anim 2s linear infinite alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip : rect(40px,9999px,35px,0);
  }
  5% {
    clip : rect(11px,9999px,5px,0);
  }
  10% {
    clip : rect(63px,9999px,14px,0);
  }
  15% {
    clip : rect(60px,9999px,8px,0);
  }
  20% {
    clip : rect(79px,9999px,68px,0);
  }
  25% {
    clip : rect(4px,9999px,52px,0);
  }
  30% {
    clip : rect(3px,9999px,37px,0);
  }
  35% {
    clip : rect(14px,9999px,29px,0);
  }
  40% {
    clip : rect(87px,9999px,89px,0);
  }
  45% {
    clip : rect(13px,9999px,37px,0);
  }
  50% {
    clip : rect(96px,9999px,74px,0);
  }
  55% {
    clip : rect(50px,9999px,4px,0);
  }
  60% {
    clip : rect(32px,9999px,4px,0);
  }
  65% {
    clip : rect(33px,9999px,52px,0);
  }
  70% {
    clip : rect(68px,9999px,25px,0);
  }
  75% {
    clip : rect(44px,9999px,83px,0);
  }
  80% {
    clip : rect(88px,9999px,32px,0);
  }
  85% {
    clip : rect(81px,9999px,38px,0);
  }
  90% {
    clip : rect(48px,9999px,39px,0);
  }
  95% {
    clip : rect(19px,9999px,94px,0);
  }
  100% {
    clip : rect(48px,9999px,30px,0);
  }
}
.glitch:before, .glitch-txt:before {
  content : attr(data-text);
  position : absolute;
  text-shadow : 1px 0 #f1f1f1;
  left : -1px;
  overflow : hidden;
  clip : rect(0,900px,0,0);
  animation : noise-anim-2 3s linear infinite alternate-reverse;
}
@media (min-width:2010px) and (max-width:5200px) {
  .iso_color, .iso_black {
    background-position : 72% 100px;
  }
}
@media (min-width:1500px) and (max-width:2000px) {
  .iso_color, .iso_black {
    background-position : 75% 100px;
  }
  #bodymovin {
    padding-top : 100px;
  }
  header {top: 55%;}
}
@media (min-width:993px) and (max-width:1170px) {
  .iso_color, .iso_black { background-position : 87% 100px;}
  #profile-speaker .bottom {border-width: 0 100vw 800px 0;}
  .tres {top:450px}
}
@media screen and (max-width:992px) {
  .iso_color {
    background : transparent;
  }
  #speakers .col-md-3 {
    width : 50%;
    float : left;
  }
  .profile-s .profile-text {
    top : 300px;
    color : #f1f1f1;
  }
  .profile-s a {
    color : #f1f1f1;
  }
  #profile-speaker .bottom {
    border-width : 0 100vw 450px 0;
    margin-bottom : 200px;
  }
  .col-xs-push-1 {
    left : 0;
  }
  .call-for-speakers li {
    column-count : 1;
  }
  .menu-call {
    display : none;
  }
  .seis {
    top : 80px;
    right : 195px;
  }
  .tres {
    top : 50px;
  }
}
@media screen and (max-width:768px) {
  .iso_black {
    background : transparent;
  }
  .smallscreen {
    display : block;
  }
  .pull-right {
    float : none;
  }
  #home h3, .glitch-txt:before, .glitch-txt:after {
    display : none;
  }
  .organ .col-md-3 {
    margin-bottom : 60px;
  }
  .content .col-md-8 {
    float : none;
    text-align : center;
  }
  .mailing_end, #home form {
    margin-left : auto;
    margin-right : auto;
  }
  .dos {
    top : 325px;
  }
  .tres {
    top : 630px;
    opacity : 0.300000011920928955078125;
    color : #bbdc2f;
  }
  #conduct .col-md-8 {
    float : none;
    clear : both;
  }
  .mc-form {
    overflow : hidden;
  }
  .mc-input {
    text-align : center;
    border-left : none;
    border-right : none;
    border-top : none;
  }
  .mc-input, .mc-form {
    width : 100%;
  }
  .mc-submit {
    margin : 20px auto;
  }
  .mc-input, .mc-submit {
    border-radius : 32px;
    float : none;
  }
}
@media (min-width:300px) and (max-width:480px) {
  .tier li {margin: 15px 0;}
  #sponsor h2 {
    margin-top : 170px;
  }
  #conduct h3 {
    font-size : 30px;
    margin-top : 0;
  }
  .code-conduct {
    padding : 20px 5px;
  }
  .call-for-speakers {
    padding : 10px;
  }
  .code-conduct span, .code-conduct ul {
    float : none;
  }
  .code-conduct p {
    padding : 0;
    border : none;
    margin : 10px 0 20px;
  }
  #speakers .col-md-3 {
    width : 100%;
    float : none;
  }
  .profile-s {
    width : 95%;
  }
  .profile-s h2 {
    font-size : 40px;
    line-height : 40px;
  }
  .profile-s p, a.in-prof, .plain-header p {
    font-size : 18px;
  }
  .profile-img {
    width : 250px;
    height : 250px;
    border-radius : 250px;
  }
  .profile-img img {
    width : 250px;
  }
  .profile-img-trama {
    background-size : 85%;
  }
  #profile-speaker .bottom {
    border-width : 0 100vw 250px 0;
    margin-bottom : 400px;
  }
  .back-home {
    margin-top : 20px;
  }
  #conduct .container {
    width : 100%;
  }
}
