.mc-form
  margin 0 auto
  max-width 400px

.mc-protection
  position absolute
  left -5000px

.mc-input
  display block
  width 100%

.mc-submit
  display block
  width 100%
  background-color c-red
  color c-light-pink
  padding 10px
  border none
