extends ../layouts/layout.jade
block vars
  - meta_title = 'Announcing NodeConf Argentina'

block main
  article.md-markdown
    h2
      span.nw-date.nw-date-text 2016-02-10
      span.nw-title Announcing NodeConf Argentina
    :megamark
      We've been working to bring NodeConf to latin america for the first time ever and we're super excited to announce [NodeConf Argentina 2016][home].

      [home]: /
