extends ../layouts/layout.jade
block vars
  - meta_title = 'Announcing NodeConf Argentina'

block main
  article.md-markdown
    h2
      span.nw-date.nw-date-text 2016-02-10
      span.nw-title Announcing NodeConf Argentina
    :megamark
      We've been working to bring NodeConf to latin america for the first time ever and we're super excited to announce [NodeConf Argentina 2016][home].

      The conference will take place in gorgeous Buenos Aires during _Spring, 2016_. The conference will be held on **November 18 and 19** at [Ciudad Cultural Konex][cck], _near Palermo_.

      We'll soon be announcing important updates. We know many of you are already excited about our Call for Papers, so you'll be hearing about that soon as well.

      In the meantime, we suggest you [head over to the home page][subscribe] and _subscribe_ to our mailing list so that you **don't miss any of the important updates**.

      Exciting adventures lie ahead!

      > You should follow [@nodeconfar][twitter] on Twitter for instant updates.

      **NodeConf Argentina** is a community effort driven by [@nzgb][nico], [@a0viedo][ale], [@jaclar][lars], and [@pr0duc3r][lean].

      [home]: /
      [subscribe]: /#subscribe
      [cck]: /#venue
      [twitter]: https://twitter.com/nodeconfar
      [nico]: https://twitter.com/nzgb
      [ale]: https://twitter.com/a0viedo
      [lars]: https://twitter.com/jaclar
      [lean]: https://twitter.com/pr0duc3r

  article.md-markdown
    include ../partials/mailchimp.jade
